<div class="movie-show-container container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 movie-show">
      <div class="col-md-4">
        <img class="movie-poster" src="{{ctrl.movie.Poster}}">
      </div>
      <div class="col-md-8">
        <h2>{{ctrl.movie.Title}}</h2>
        <p>{{ctrl.movie.Plot}}</p>
        <p><span class="movie-detail">Starring:</span> {{ctrl.movie.Actors}}</p>
        <p><span class="movie-detail">Released:</span> {{ctrl.movie.Released}}</p>
        <p><span class="movie-detail">Runtime:</span> {{ctrl.movie.Runtime}}</p>
        <p><span class="movie-detail">Director:</span> {{ctrl.movie.Director}}</p>
      </div>
    </div>
  </div>
</div>
