html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #141414;
  font-size: 18px;
}

.search-container {
  background: url(images/background.jpg) no-repeat center center;
  background-size: cover;
  height: 400px;
  color: #fff;
  text-align: center;
  margin-top: -20px;
  padding-top: 130px;
}

.heading {
  margin-bottom: 20px;
}

.search-form-container {

}

.search-form {
  /*width: 300px;*/
}


/*MOVIE RESULTS PAGE*/

.movie-results-container {
  padding-bottom: 10px;
}

.movie-results {
  margin-top: 40px;
}

.movie-div {
  height: 200px;
  margin-bottom: 30px;
  border: 2px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #888;
}

.movie-div:hover {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

/*MOVIE SHOW PAGE STYLES*/

.movie-show-container {
  margin-top: 30px;
  color: #888;
  padding-bottom: 50px;
}

.movie-detail {
  font-weight: bold;
  margin-right: 5px;
}

.movie-poster {
  width: 200px;
  margin-top: 26px;
}
